In [1]:
#Bienvenue dans le projet Titanic réalisé par Mohammed FAQIHI

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
from sklearn.preprocessing import LabelEncoder
import os
for dirname, _, filenames in os.walk('C:/Users/Utilisateur/Documents/Projets Kaggle/Projet titanic'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

C:/Users/Utilisateur/Documents/Projets Kaggle/Projet titanic\gender_submission.csv
C:/Users/Utilisateur/Documents/Projets Kaggle/Projet titanic\test.csv
C:/Users/Utilisateur/Documents/Projets Kaggle/Projet titanic\train.csv
C:/Users/Utilisateur/Documents/Projets Kaggle/Projet titanic\Untitled.ipynb
C:/Users/Utilisateur/Documents/Projets Kaggle/Projet titanic\.ipynb_checkpoints\Untitled-checkpoint.ipynb

In [2]:
#Chargement des fichiers
train_df=pd.read_csv('C:/Users/Utilisateur/Documents/Projets Kaggle/Projet titanic/train.csv')
test_df=pd.read_csv('C:/Users/Utilisateur/Documents/Projets Kaggle/Projet titanic/test.csv')

In [3]:
target=train_df['Survived']
inputs=train_df.drop(['Survived'],axis='columns')
inputs

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [4]:
le_name=LabelEncoder()
le_sex=LabelEncoder()
l_age=LabelEncoder()
le_SibSp=LabelEncoder()
le_ticket=LabelEncoder()
le_fare=LabelEncoder()
le_cabin=LabelEncoder()
l_embarquement=LabelEncoder()
inputs['sex_n']=le_sex.fit_transform(inputs['Sex'])
inputs['Age_n']=l_age.fit_transform(inputs['Age'])
inputs['SibSp_n']=le_SibSp.fit_transform(inputs['SibSp'])
inputs['Ticket_n']=le_ticket.fit_transform(inputs['Ticket'])
inputs['Fare_n']=le_fare.fit_transform(inputs['Fare'])
inputs['Embarked_n']=l_embarquement.fit_transform(inputs['Embarked'])
inputs=inputs.drop([['Sex'],[]'Age','SibSp','Ticket','Fare'],axis='columns')


inputs

TypeError: argument must be a string or number

In [76]:
inputs["cabin_n"]=le_cabin.fit_transform(inputs['Cabin'])

inputs['name_n']=le_name.fit_transform(inputs['Name'])
inputs

TypeError: argument must be a string or number

In [34]:
train_df.drop(['name_n'],axis='columns')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [25]:
pip install impyute

Collecting impyute
  Downloading https://files.pythonhosted.org/packages/37/28/86829f67c9affb847facaab94687761d3555539ec675f7577778c5b2680a/impyute-0.0.8-py2.py3-none-any.whl
Requirement already satisfied: scikit-learn in c:\users\utilisateur\anaconda3\lib\site-packages (from impyute) (0.21.3)
Requirement already satisfied: numpy in c:\users\utilisateur\anaconda3\lib\site-packages (from impyute) (1.16.5)
Requirement already satisfied: scipy in c:\users\utilisateur\anaconda3\lib\site-packages (from impyute) (1.3.1)
Requirement already satisfied: joblib>=0.11 in c:\users\utilisateur\anaconda3\lib\site-packages (from scikit-learn->impyute) (0.13.2)
Installing collected packages: impyute
Successfully installed impyute-0.0.8
Note: you may need to restart the kernel to use updated packages.